<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">
          Employees Dashboard
          <small>GrepRuby Webtech Pvt Ltd</small>
        </h1>
        <% if flash[:notice] %>
          <div class="notice"><%= flash[:notice] %></div>
        <% end %>
        <ol class="breadcrumb">
          <li>
            <i class="fa fa-dashboard"></i>  
            <%= link_to "Edit information", edit_employee_registration_path %>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
