<h1>Welcome to GrepRuby</h1></br>

	<%= link_to "edit password", edit_employee_password_path %> </br></br>
	<%= link_to "edit information", edit_employee_registration_path %></br></br>
	<%= link_to "Logout", destroy_employee_session_path, :method => :delete %>
